{% macro render_blog_post(post, full=false, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  {% if full %}
    {{ post.body }}
  {% endif %}
  <p class="meta">
    {% if 'author' in post or 'twitter_handle' in post %}
        by
        {% if 'twitter_handle' in post %}
          <a href="https://twitter.com/{{ post.twitter_handle
            }}">{{ post.author or post.twitter_handle }}</a>
        {% else %}
          {{ post.author }}
        {% endif %}
    {% endif %}
    {% if 'pub_date' in post %}
        on {{ post.pub_date }}
    {% endif %}
  </p>
  </div>
{% endmacro %}
