{% macro render_feed_post(post, from_index=false) %}
  <div>
  {{ post.body }}
  <p class="meta">
    {% if 'pub_date' in post %}
        on {{ post.pub_date }}
    {% endif %}
  </p>
  </div>
{% endmacro %}
