{% macro render_post(post, full=false, from_index=false) %}
  <div class="listen-audio">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  {% if full %}
    {{ post.body }}
    <br />
    {% if post.files | length > 1 %}
        <ul>
        {% for file in post.files %}
            <li>
            <audio controls>
                <source src="/static/listen/{{ file }}" />
            </audio>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <audio controls>
            <source src="/static/listen/{{ post.files[0] }}" />
        </audio>
    {% endif %}
    {% if 'license' in post and post.license|length > 0 %}
        <a rel="license" href="https://creativecommons.org/licenses/{{ post.license }}/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="{{ '/static/license/' + post.license + '.svg' }}" /></a><br />
        {% if post.license == 'by' %}
            This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License
	    {% elif post.license == 'by-sa' %}
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License
	    {% elif post.license == 'zero' %}
            This work is licensed under a <a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Public Domain Dedication License
	    {% elif post.license == 'by-nd' %}
            This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License
	    {% elif post.license == 'by-nc' %}
            This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License
	    {% elif post.license == 'by-nc-nd' %}
            This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International
        {% endif %}
	    </a>
    {% endif %}
  {% endif %}
  <p class="meta">
    {% if 'category' in post and post.category|length > 0 %}
        {% if post.category == 'edit' %}
            Edited
        {% elif post.category == 'recording' %}
            Recorded
        {% elif post.category == 'composition' %}
            Composed
        {% endif %}
    {% endif %}
    {% if ('author' in post and post.author|length > 0) or ('twitter_handle' in post and post.twitter_handle|length > 0) %}
        by
        {% if 'twitter_handle' in post %}
          <a href="https://twitter.com/{{ post.twitter_handle
            }}">{{ post.author or post.twitter_handle }}</a>
        {% else %}
          {{ post.author }}
        {% endif %}
    {% endif %}
    {% if 'pub_date' in post %}
        on {{ post.pub_date }}
    {% endif %}
  </p>
  </div>
{% endmacro %}
