{% macro render_code(post, full=false, from_index=false) %}
  <div class="listen-audio">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  {% if full %}
    {{ post.body }}
    {% if post.links | length > 0 %}
        {% if post.links | length > 1 %}
            <ul>
            {% for link in post.links %}
                <li>
                    <a href="/static/play/{{ link }}" target="_blank">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <a href="/static/play/{{ post.links[0] }}" target="_blank">{{ post.title }}</a>
        {% endif %}
    {% endif %}
  {% endif %}
  <p class="meta">
    {% if 'category' in post and post.category|length > 0 %}
        {% if post.category == 'program' %}
            Program
        {% elif post.category == 'app' %}
            Mobile App
        {% elif post.category == 'game' %}
            Game
        {% endif %}
    {% endif %}
    {% if ('author' in post and post.author|length > 0) or ('twitter_handle' in post and post.twitter_handle|length > 0) %}
        by
        {% if 'twitter_handle' in post %}
          <a href="https://twitter.com/{{ post.twitter_handle
            }}">{{ post.author or post.twitter_handle }}</a>
        {% else %}
          {{ post.author }}
        {% endif %}
    {% endif %}
    {% if 'pub_date' in post %}
        on {{ post.pub_date }}
    {% endif %}
  </p>
  </div>
{% endmacro %}
