<h1>Privacy Policy of Mathmaplex</h1>

<p>This page is used to inform users regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the Mathmaplex application.</p>

<p>If you choose to use our Service, you acknowlege that you have read and accepted the terns described in this Privacy Policy.</p>

<h2>Information Collection and Use</h2>

<p>We do not personally collect data from users of our applications. And our app requires no input of personal information or permissions. All data is locally stored on the users device.</p>

<h2>Links to Other Sites</h2>

<p>Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

<h2>Changes to This Privacy Policy</h2>

<p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</p>

<h2>Contact Us</h2>

<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
</body></html>
