<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>{{ this.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}" />
<link rel="shortcut icon" href="{{ '/static/favicon.gif'|url }}" />
<body>
    <header>
        <h1>
            <a href="{{ '/'|url }}">
                <img alt="VIMinO" src="{{ '/static/title.gif'|url }}" width="80%" />
            </a>
        </h1>

        <nav>
          <ul class="nav navbar-nav">
            {% for href, title in [
              ['/read', 'Read'],
              ['/play', 'Play'],
              ['/watch', 'Watch'],
              ['/listen', 'Listen'],
              ['/meet', 'Meet'],
            ] %}
              <li{% if this.is_child_of(href) %} class="active"{% endif
                %}><a href="{{ href|url }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
    </header>

    <div class="page">
    {% block body %}{% endblock %}
    </div>

    <footer>
	    <div class="container">
		    <section>
			    &copy; Copyright 2020 by <a href="https://twitter.com/vimino_net">vimino</a><br />
		    </section>
	    </div>
    </footer>
</body>
</html>
