{% extends "layout.html" %}
{% from "macros/play.html" import render_code %}
{% from "macros/pagination.html" import render_pagination %}
<h2>{{ this.title }}</h2>
{% block body %}
  <h2>Play</h2>
  {% for child in this.pagination.items %}
    {{ render_code(child, from_index=true) }}
  {% endfor %}

  {{ render_pagination(this.pagination) }}
{% endblock %}
